<div class="header-container">
  <div class="header-title">
    <h3>Title</h3>
  </div>

  <div class="header-navigation">
    <div class="header-navigation-item">
      <!-- <a routerLink="/user/bob" routerLinkActive="active-link">
        <h3>My Stats</h3>
      </a>
      <a routerLink="/user/bob" routerLinkActive="active-link">
        <h3>Team Stats</h3>
      </a>
      <a routerLink="/user/bob" routerLinkActive="active-link">
        <h3>Leaderboard</h3>
      </a> -->
      <h3 routerLink="/my-stats" routerLinkActive="active-link">My Stats</h3>
      <h3 routerLink="/team-stats" routerLinkActive="active-link">Team Stats</h3>
      <h3 routerLink="/leaderboard" routerLinkActive="active-link">Leaderboard</h3>
    </div>
  </div>

  <div class="header-user">
    <h3>User Name</h3>
  </div>
</div>