@import '../../styles.scss';

.statistics-container {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    margin-top: 20px;

    h4 {
        margin-left: 13px;
        margin-right: 13px;
        padding-bottom: 6px;
        border-bottom: 4px solid $primary;
    }
}