<div class="leaderboard-container">
  <div class="leaderboard-sidebar">
    <div class="item sidebar-item"><h4>Total Hours</h4></div>
    <div class="item sidebar-item active-item"><h4>Total Commits</h4></div>
    <div class="item sidebar-item"><h4>PHP</h4></div>
    <div class="item sidebar-item"><h4>JavaScript</h4></div>
    <div class="item sidebar-item"><h4>TypeScript</h4></div>
    <div class="item sidebar-item"><h4>Vue.js</h4></div>
  </div>
  <div class="leaderboard-list">
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
      <div class="item Leaderboard-item"><div><h4>User 1</h4></div></div>
  </div>
</div>