<div class="info-bar-container">
  <h4>Other Languages</h4>
  <div class="other-item" *ngFor="let data of otherLanguages">
    <span><strong>{{data.name}}: </strong></span> <span>{{data.hours}} hours</span>
  </div>

  <h4>Other Frameworks and Tech</h4>
  <div class="other-item">
    <span><strong> Angular.js </strong></span><br>
    <span><strong> Angular 2+ </strong></span><br>
    <span><strong> Laravel </strong></span><br>
    <span><strong> Node.js </strong></span><br>
    <span><strong> MongoDB </strong></span><br>
    <span><strong> Elasticsearch </strong></span><br>
    <span><strong> Jenkins </strong></span><br>
  </div>
</div>