<div class="statistics-container">
  <div class="charts">
      <h4>Top 5 Languages</h4>
      <canvas id="myChart" width="500" height="500"></canvas>
      <div class="chart-controls">
        <button type="button" class="date-control active-control">7 days</button>
        <button type="button" class="date-control">30 days</button>
        <button type="button" class="date-control">90 days</button>
        <button type="button" class="date-control">180 days</button>
        <button type="button" class="date-control">360 days</button>
      </div>
  </div>
</div>